footer {
  text-align: center;
  background-color: $color-morado;
}

.footer2 {
  margin-top: 100px;
}

.copy {
  color:$color-aliceblue;
  font-weight: bolder;
}

.redes img {
  height: 50px;
  margin-top: 15px;
}
