$color-morado:#b93af8;
$color-amarillo: yellow;
$color-blanco: #fff;
$color-yellow:#CFCF1C;
$color-aliceblue:aliceblue;
$color-naranja:#f35e08;
$color-dimgray:dimgray;
$color-black:black;
$color-gris-oscuro:#272727;